__pycache__/
node_modules/
#*.png
*.Identifier
*.attrs
.idea/
PKIManager/certificates/keys/*
PKIManager/certificates/requests/*
PKIManager/certificates/responses/*
PKIManager/certificates/credentials.json
PKIManager/certificates/certificates.json
PKIManager/certificates/NotToShare
*.DS_Store

*tty*

venv/
